apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${CA_B64}
    server: https://${API_URI}:${API_PORT}
  name: ${CLUSTER}
contexts:
- context:
    cluster: ${CLUSTER}
    namespace: cluster-${CLUSTER}
    user: admin@${CLUSTER}
  name: admin@${CLUSTER}
current-context: admin@${CLUSTER}
kind: Config
preferences: {}
users:
- name: admin@${CLUSTER}
  user:
    client-certificate-data: ${CRT_B64}
    client-key-data: ${KEY_B64}
